{% extends "base.html" %}

{% block title %}
    About-SpotSalon
{% endblock title %}

{% block head %}
    {{ super()}}
{% endblock head %}

{% block content %}
<section class="row">
    <article class="col-12">
        <img src="../images/staff3.jpeg" alt="Staff image" id="imageproperty">
        <h2 id="articleh2">About SpotSalon</h2>
            <p id="aboutparagraph">The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog
                The quick brown fox jumps over the lazy dogThe quick brown fox jumps over the lazy dog
                The quick brown fox jumps over the lazy dogThe quick brown fox jumps over the lazy dog
                The quick brown fox jumps over the lazy dogThe quick brown fox jumps over the lazy dog
                The quick brown fox jumps over the lazy dogThe quick brown fox jumps over the lazy dog
            </p>
    </article>
</section>
{% endblock content %}

{% block javascript %}
{{ super() }}
{% endblock javascript %}

{% block footer %}
{{ super() }}
{% endblock footer %}