{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

<!---Defines the title for the page--->
{% block title %}
    SpotSalon-registration-business
{% endblock title %}


{% block content %}
<section class="row">
   
    <aside class="col-12">
        <img src="../static/images/staff3.jpeg" alt="Staff image" id="imageproperty">
        <h2 id="articleh2">Registration Form</h2>
        <form action="/home_business" method="post" name="businessinfo" onsubmit= "return validatebusinessinfo();" autocomplete="on">
            
            <fieldset class="owner-registration-asidefieldset">
                <legend>Fill up the Form</legend>
                <label for="role_id">Role:</label>
                <select name="role_id" id="role_id">
                    <option value="1">Admin</option>
                    <option value="2">Business</option>
                </select><br><br>
                <label for="businessname">Business Name: &nbsp;</label><br>
                    <input type="text" name="businessname" id="businessname"><span id="businessnameerr"></span><br><br> 
                <label for="email">Email : &nbsp;</label><br>
                    <input type="email" name="email" id="email"><span id="emailerr"></span><br><br>
                <label for="pwd">Enter Password: &nbsp;</label><br>
                    <input type="password" name="pwd" id="pwd" onsubmit=" return validatepwd();"><span id="pwderr"></span><br>
                    <small style="color: blue;">Password must contain digit, capital letter and special character</small><br><br>    
                <label for="cpwd">Confirm Password: &nbsp;</label><br>
                    <input type="password" name="cpwd" id="cpwd"><span id="cpwderr"></span><br><br><br>
                <label for="phone">Phone No: &nbsp;</label><br>
                    <input type="tel" name="phone" id="phone" placeholder="1234-567-8912" 
                    pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}"><span id="phoneerr"></span><br><br>
                                <!--<input type="submit" name="Register" id=" allbuttons">-->
                <button type="submit" id="allbuttons">Register</button>
        </fieldset>
        </form>
    </aside>
</section>
{% endblock content %}

<!-- {% block script %} {{ super() }} {% endblock script %}
{% block footer %} {{ super() }} {% endblock footer %} -->